<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- load Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Edit Profile</title>
</head>

<body>
    <div class="d-flex justify-content-between p-5 my-5">
        <h1 class="text-center">Edit Your Profile</h1>
        <a href="/dashboard" class="btn btn-primary">Home</a>
        <a href="/logout" class="btn btn-danger">Log Out</a>
    </div>
    <form action="/update_user" method="post" class="col-5 mx-auto p-3">
        <h2 class="text-center">Edit Profile</h2>
        {% csrf_token %}
        <div class="form-group">
            <label for="edit_first_name">First Name:</label>
            <input type='text' name='edit_first_name' class="form-control" value="{{edit.first_name}}">
            <span class="text-danger">
                {% for message in messages %}
                    {% if message.tags == 'edit_first_name error' %}
                        {{ message }}
                    {% endif %}
                {% endfor %}
            </span>
        </div>
        <div class="form-group">
            <label for="edit_last_name">Last Name:</label>
            <input type='text' name='edit_last_name' class="form-control" value="{{edit.last_name}}">
            <span class="text-danger">
                {% for message in messages %}
                    {% if message.tags == 'edit_last_name error' %}
                        {{ message }}
                    {% endif %}
                {% endfor %}
            </span>
        </div>
        <div class="form-group">
            <label for="edit_email">Email:</label>
            <input type='text' name='edit_email' class="form-control" value="{{edit.email}}">
            <span class="text-danger">
                {% for message in messages %}
                    {% if message.tags == 'edit_email error' %}
                        {{ message }}
                    {% endif %}
                {% endfor %}
            </span>
        </div>
        <input type="submit" value="Update" class="btn btn-info btn-outline-dark">
    </form>


    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" async></script>
</body>

</html>